
/* Story section Design*/
.post_section{
    position: absolute;
    width: calc(70% - 250px);
    left: 250px;
    background-color: white;
    top: 0;
    min-height: 100vh; 
    padding: 20px;
    overflow: hidden;
    border-left: 1px solid #dfdbdb;
}
.stories{
    display: flex;
    align-items: top;
    justify-content: space-between;
    
}
.story_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-position: center;
    border: 3px solid #e2336b;
}
.story_image img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    
}
.story_image .add{
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 90px;
    
}
.story_image .add button{
    border: none;
    background-color: #0066ff;
    border: 2px solid white;
    border-radius: 50%;
}
/* post section Design*/
.post{
    position: relative;
    padding-top: 0;
    margin: 10px 20% 0 20%;
    background-color: whitesmoke;
}
.post .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.post .top .username{
    display: flex;
    align-items: center;
}
.post .top .username .profile_img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    border: 2px #e2336b solid;
}
.post .top .username .profile_img img{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: cover;
    margin-right: 5px;
}
.post .post_image{
    width: 100%;
}
.post .post_image img{
    width: 100%;
}
.share_section{
    display: flex;
    justify-content: space-between;
}
.share_section i{
    font-size: 25px;
    padding: 5px;
    padding-top: 15px;
}
.post .like{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
.comment{
    width: 100%;
}
.comment .comment_input{
    width: 100%;
    border: none;
    font-size: 15px;
    outline: none;
    background-color: whitesmoke;
}
.message_section{
    position: fixed;
    width: 25%;
    height: 100vh;
    right: 0%;
    background: white;
    padding-top: 30px;
    padding-left: 30px;
    border-left: 1px solid #dfdbdb;
}
