.post_section{
    position: absolute;
    width: calc(75% - 250px);
    left: 250px;
    background-color: #252222;
    top: 0;
    min-height: 100vh; 
    padding: 20px;
    overflow: hidden;
    background-color: aqua;
}
.stories{
    display: flex;
    align-items: top;
    justify-content: space-between;
    background-color: red;
}
.story_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    border: 3px solid #e2336b;
}
.story_image img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.story_image .add{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #fff;
    background: #404040b3;
}