.profilename{
    margin-left: 300px;
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: white;
    
    padding-top: 30px;
    font-weight: bolder;
    font-size: 25px;

}

