
.main-frame {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: static;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  background-color: whitesmoke;
}

/** sidebar sectyion **/

.sidebar-section1 {
  position: fixed;
  display: block;
  width: 48px;
  height: 100dvh;
  background: white;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  border-right: 1px solid rgb(195, 188, 188);
}
.menu_section1 {
  background-color: white;
  height: 100dvh;
  margin-bottom: 20px;
}
.logo1 {
  width: 48px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
}
.logo2 {
  width: 25px;
  height: 25px;
  font-size: 28px;
  padding: 12px;
  cursor: pointer;
}

/** notifcation section **/

.container-fluid {
  background-color: white;
  height: 100dvh;
  width: 400px;
  margin-left: 75px;
  border-right: 1px solid rgb(195, 188, 188);
}

body {
  font-family: "Roboto", sans-serif;
  background-size: 100% auto;
  background-color: #fff;
}

:root {
  --app-primary-text-color: #010101;
  --app-secondary-text-color: #737373;
  --app-img-border-color: #fff;
}

#ig-app {
  padding-top: 65px;
  padding-bottom: 65px;
}

#ig-header {
  width: 382px;
  height: 31px;
  position: fixed;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--app-primary-text-color);
  background-color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


/** notifications**/

#in_all_caught,
#in_all_caught i {
  position: relative;
  background: linear-gradient(
    45deg,
    #f09433 0,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

#ig-activity {

  font-size: 15.5px;
}

#ig-activity .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.row{
	display: flex;
	justify-content: space-between;
}

.column-10{
	padding-top: 14px;
	padding-left: 12px;
	margin-right: 200px;
	
}

#in_all_caught {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
}
#in_all_caught::before {
  position: absolute;
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  border-radius: 100%;
  z-index: 9;
}

#in_all_caught i {
  z-index: 10;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ig-activity>span
{
	font-size: 18.5px;
	font-weight: 600;
	display: block;
	margin-bottom: 18px;
}

#ig-activity img.ia-user-image
{
	width: 50px;
	border-radius: 100%;
}

#ig-activity .ia-user
{
	font-weight: 600;
}

#ig-activity .ia-time
{
	color: rgba(0,0,0,.75);
}

#ig-activity button
{
	border: none;
	background-color: #0095f6;
	color: #fff;
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .3px;
	border-radius: 8px;
}

#ig-activity img.ia-post
{
	width: 50px;
}

#ig-activity .ia-n-images
{
	position: relative;
}

#ig-activity .ia-n-images img
{
	position: absolute;
	width: 42px;
	border: 2.5px solid #fff;
}

#ig-activity .ia-n-images img:last-child
{
	margin-top: 12px;
	margin-left: 8px;
}