
.main-frame {
	margin: 0;
	padding: 0;
	height: 100dvh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	position: static;
	justify-content: space-between;
	flex-direction: row;
	align-items: stretch;
	background-color:white;
}

/** sidebar sectyion **/

.sidebar-section1 {
	position: fixed;
	display: block;
	width: 48px;
	height: 100dvh;
	background: white;
	padding-top: 8px;
	padding-bottom: 20px;
	padding-left: 12px;
	padding-right: 12px;
	border-right: 1px solid rgb(195, 188, 188);
}
.logo img{
	width: 100px;
	height: 30px;
}
.logo .logo-img{
margin-right: 1rem;
font-size: 30px;
}

.menu_section{

	margin-top: 10px;
	margin-left: 10px;

}
.menu_section a{
width: 100%;
font-size: 1.1rem;
color: black;
display: flex;
align-items: center;
line-height: 55px;
text-decoration: none;
}

.menu_section .option:hover{
font-size: 1.2rem;
font-weight: bold;
transition: 0.3s;
}

.menu_section .icon {
margin-right: 1rem;
font-size: 25px;

}
.menu_section .profile_image{
height: 30px;
width: 30px;
margin-right: 1rem;
border-radius: 50%;
padding-top: 10px;
}

.menu_section1 {
	background-color: white;
	height: 100dvh;
	margin-bottom: 20px;
}

.logo1 {
	width: 48px;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.logo2 {
	width: 25px;
	height: 25px;
	font-size: 28px;
	padding: 12px;
	cursor: pointer;
}

/** notifcation section **/

.container-fluid {
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	height: 1000px;
	width: 400px;
	margin-left: 75px;
	border-right: 1px solid rgb(195, 188, 188);
}

body {
	font-family: "Roboto", sans-serif;
	background-size: 100% auto;
	background-color: #fff;
}

:root {
	--app-primary-text-color: #010101;
	--app-secondary-text-color: #737373;
	--app-img-border-color: #fff;
}

#ig-app {
	padding-top: 65px;
	padding-bottom: 65px;
}

#ig-header {
	width: 382px;
	height: 31px;
	position: absolute;
	top: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	color: var(--app-primary-text-color);
	background-color: #fff;
	font-size: 24px;
	font-weight: 700;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


/** notifications**/

#in-all-caught,
#in-all-caught i {
	position: relative;
	background: linear-gradient(45deg,
			#f09433 0,
			#e6683c 25%,
			#dc2743 50%,
			#cc2366 75%,
			#bc1888 100%);
}

#ig-activity {

	font-size: 15.5px;
}

#ig-activity .row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
/**
.row {
	display: flex;
	justify-content: space-between;
} 
**/

.column-10 {
	padding-top: 14px;
	padding-left: 12px;
	margin-right: 200px;

}

#in-all-caught {
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 100%;
	font-size: 20px;
}

#in-all-caught::before {
	position: absolute;
	background-color: #fff;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(0.9);
	border-radius: 100%;
	z-index: 9;
}

#in-all-caught i 
{
	z-index: 10;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#ig-activity>span {
	
	font-size: 18.5px;
	font-weight: 600;
	display: block;
	margin-bottom: 18px;

}

#ig-activity img.ia-user-image {
	width: 50px;
	border-radius: 100%;
}

.row .column-7{
text-align: left;
}


#ig-activity .ia-user {
	font-weight: 600;
}

#ig-activity .ia-time {
	color: rgba(0, 0, 0, .75);
}

#ig-activity button {
	border: none;
	background-color: #0095f6;
	color: #fff;
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .3px;
	border-radius: 8px;
	cursor: pointer;
}

#ig-activity img.ia-post {
	width: 50px;
}

#ig-activity .ia-n-images {
	position: relative;
}

#ig-activity .ia-n-images img {
	position: absolute;
	width: 42px;
	border: 2.5px solid #fff;
}

#ig-activity .ia-n-images img:last-child
{
	margin-top: 15px;
	margin-left: 10px;
}

#ig-footer
{  display: flex;
	justify-content: space-evenly;
	position: fixed;
	width: 400px;
	bottom: 0;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border-top: 1px solid rgba(0,0,0,.1);
}

#ig-footer div
{
	float: left;
	width: 20%;
	list-style: none;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}

#ig-footer i.fa-heart-o
{
	text-shadow: 1px 0 0 #000;
}

#ig-footer img
{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-top: -4px;
	
}
@media screen and (min-width: 600px){
	.sidebar-section1{
		display: block;

	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.sidebar-section1{
		display: block;
	}
}
@media screen and (min-width: 993px) and (max-width: 1200px){
	#ig-footer{
		display: block;
	}
}