/** buttons **/
body{
    padding: 0;
    margin: 0; 
}
/*Common Sidebar Design */

.sidebar_section{
    position: fixed;
    width: 250px;
    height: 100vh;

}


.logo{
    padding-left: 25px;
    padding-top: 25px;
}
.logo img{
        width: 100px;
}

.menu_section{
    
        margin-top: 20px;
        margin-left: 10px;
    
}
.menu_section a{
    width: 100%;
    font-size: 1.1rem;
    color: black;
    display: flex;
    align-items: center;
    line-height: 55px;
    text-decoration: none;
}
.menu_section .option:hover{
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.menu_section .icon {
    margin-right: 1rem;
    font-size: 25px;

}
.menu_section .profile_image{
    height: 30px;
    width: 30px;
    margin-right: 1rem;
    border-radius: 50%;
    padding-top: 10px
}

  /* profile css*/
.common-margin{
    margin-left: 90px;
    display: inline-flex;
    position: absolute;
    height: 300px;
    width: 900px;
    top: 100px;
  
}
